<div class="home-body">
  <div class="home-header">
    Choose your character:
  </div>
  <div class="home-container">
    <div class="character-card">
      <img src="assets/chris-character.jpg" alt="Chris">
    </div>
    <div class="character-card">
      <img src="assets/jake-character.jpg" alt="Jake">
    </div>
    <div class="character-card">
      <img src="assets/caleb-character.jpg" alt="Caleb">
    </div>
    <div class="character-card">
      <img src="assets/jimmy-character.jpg" alt="Jimmy">
    </div>
    <div class="character-card">
      <img src="assets/brycen-character.jpg" alt="Brycen">
    </div>
  </div>
</div>
