<div class="goal-tracking-container">
    <div class="header">
        <div class="title">
            Goal Tracker
        </div>
    </div>
    <div class="content">
        <% @daily_goals.each.with_index do |goal, i|%>
            <div class="daily-goal-updater">Update Daily Progress <span class="arrow">▼</span></div>
            <div class="daily-goal-container">
                <span class="goal-title"><%= @goal_names[i] %></span>
                <div class="grid">
                    <% (0..52).each do |week| %>
                        <div class="week">
                            <% (1..7).each do |day| %>
                                <% progress_value = get_day_progess_value(week, day, goal) %>
                                <div 
                                    class="day" 
                                    goal-progress="<%= progress_value %>" 
                                    title="<%= get_tooltip_text(week, day, progress_value) %>">
                                </div>
                            <% end %>
                        </div>
                    <% end %>
                </div>
                <div class="goal-legend">
                    Less
                    <div class="day" goal-progress="0"></div>
                    <div class="day" goal-progress="1"></div>
                    <div class="day" goal-progress="2"></div>
                    <div class="day" goal-progress="3"></div>
                    <div class="day" goal-progress="4"></div>
                    More
                </div>
            </div>
        <% end %>
    </div>
</div>